<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button> <a class="navbar-brand" href="#/welcome"><img style="max-width:100px; margin-top: -12px;" src="images/candy.png" alt="Candy Server"></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav" ng-show="user">
            <li>
                <a href="#/manage">Entities Definition</a>
            </li>
            <li class="">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">DML on Entities<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li ng-repeat="entity in entities"><a ng-href="#/entity?name={{entity.friendlyName}}">{{entity.friendlyName}}</a>
                    </li>
                </ul>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right" ng-show="user">
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">{{user.name}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="logout()">Logout</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-show="!user">
            <li>
                <a href="#/login">Login</a>
            </li>
        </ul>
    </div>

</nav>
