<p>
    {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
<p>
    <a ng-href="#/manage/edit" class="btn btn-default" role="button">
        <i class="glyphicon glyphicon-plus"></i>&nbsp;New Entitity Definition
    </a>
</p>

<table datatable="ng" class="row-border hover">
    <thead>
    <tr>
        <th>Friendly Name</th>
        <th>Phisical Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="entity in managedEntities">
        <td>{{ entity.friendlyName }}</td>
        <td>{{ entity.physicalName }}</td>
        <td>
			<a ng-href="#/manage/edit?entityHref={{entity._links.self.href}}" class="btn btn-default btn-xs" role="button" title="Edit">
				<span class="glyphicon glyphicon-edit" aria-hidden="true" style="cursor: pointer; cursor: hand;"></span>
			</a>
            <button type="button" class="btn btn-default btn-xs" title="Delete" ng-click="deleteEntity(entity.friendlyName, entity._links.self.href, $index)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true" style="cursor: pointer; cursor: hand;"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>